$gray-100: #F7FAFC !default;
$gray-200: #EDF2F7 !default;
$gray-300: #E2E8F0 !default;
$gray-400: #CBD5E0 !default;
$gray-500: #A0AEC0 !default;
$gray-600: #718096 !default;
$gray-700: #4A5568 !default;
$gray-800: #2D3748 !default;
$gray-900: #1A202C !default;

// $blue:    #3182CE !default;
// $indigo:  #5A67D8 !default;
// $purple:  #805AD5 !default;
// $pink:    #D53F8C !default;
// $red:     #E53E3E !default;
// $orange:  #ED8936 !default;
// $yellow:  #ECC94B !default;
// $green:   #38A169 !default;
// $teal:    #319795 !default;
// $cyan:    #17a2b8 !default;

$primary:       #805AD5 !default;
$secondary:     #718096 !default;
$success:       #38A169 !default;
$info:          #3182CE !default;
$warning:       #FFC107 !default;
$danger:        #E53E3E !default;
$light:         #F7FAFC !default;
$dark:          #4A5568 !default;