.table-component table {
  width: 100%;
  border: solid 1px #CBD5E0;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table-component table thead th {
  padding: 15px;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
}

.table-component table tbody tr:hover {
  background: #FEFCBF;
}

.table-component table tbody td {
  padding: 15px;
  font-size: 14px;
}

.table-component.bordered th, .table-component.bordered td {
  border: solid 1px #CBD5E0;
}

.table-component.dark-header thead {
  background: #2D3748;
  color: #FFFFFF;
}

.table-component.dark-header thead th {
  border: solid 1px #2D3748;
}
